html,
body {
  background: var(--default);
  margin: 0;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
}
:root {
  --default: #121213;
  --opposite: white;
  --empty: #3a3a3c;
  --wrong: #b59f3b;
  --right: #538e4e;
  --entered: #565758;
  --empty-entered: #3a3a3c;
  --key: #818384;
}
[data-theme="light"]{
  --default: white;
  --opposite: black;
  --empty: #d4d6db;
  --entered: #797c7e;
  --wrong: #cab459;
  --right: #6aaa64;
  --empty-entered: #797c7e;
  --key: #d4d6db;

}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(255,255,255,0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 10s linear;
}
.modalContent{
  position: relative;
  min-width: 60vh;
  max-width: 80vh;
  min-height: 60vh;
  max-height: 80vh;
  border-radius: 5px;
  background-color: var(--default);
  overflow: auto;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.is-visible{
  visibility: visible;
  opacity: 1;
}
h1{
  color: var(--opposite);
  font-size: 5vh;
}
#game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  row-gap: 1vh;
}
.uibar{
  display: flex;
  width: 90vw;
  height: 8vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
#title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--opposite);
  font-size: 5vh;
  height: 100%;
}
#buttonSection{
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  column-gap: 1vh;
}
#colormode{
  height: 80%;
  width: 6.4vh;
  border-radius: 0;
  background-color: red;
  border-color: red;
  border-style: solid; 
}
#emptyButton{
  height: 80%;
  width: 6.4vh;
}
#helpButton{
  height: 80%;
  width: 6.4vh;
  border-radius: 0;
  background-color: blue;
  border-color: blue;
  border-style: solid; 
}
#statsButton{
  height: 80%;
  width: 6.4vh;
  border-radius: 0;
  background-color: green;
  border-color: green;
  border-style: solid; 
}
.keyboard-container{
  height: 200px;
  width: 450px;
  margin: 0 8px;

}
.row{
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}
.row > button{
  height: 55px;
  flex: 1;
  border-radius: 4px;
  border: 0;
  background-color: var(--key);
  color: var(--opposite);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2px;
  font-weight: 900;
}
.spacer{
  flex: 0.5;
}
.longKey{
  flex: 1.5 !important;
}
.grid{
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-template-columns: repeat(5, auto);
}
.box{
  width: 5vh;
  height: 5vh;
  margin: 0.5vh;
  border: 2px solid var(--empty);
  color: var(--opposite);
  text-transform: uppercase;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  position: relative;
  line-height: 5vh;
  
}
.box.empty{
  background: var(--empty-entered);
  border-color: var(--empty-entered);
  color: white;
}
.box.wrong {
  background: var(--wrong);
  border-color: var(--wrong);
  color: white;
}
.box.right {
  background: var(--right);
  border-color: var(--right);
  color: white;
}
.box.entered {
  border-color: var(--entered);
}
.animated{
  animation: flop 0.5s ease;
}
.won{
  animation: bounce 0.25s ease;
}
.spun{
  animation: spin 1s linear;
}
.shook{
  animation-name: shake;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}
@keyframes flop{
  0%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
  }
}
@keyframes bounce{
  0%{
    top: 0vh;
  }
  50%{
    top: -2vh;
  }
  100%{
    top: 0vh;
  }
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes shake {
  0%{
    left: 0vh;
  }
  25%{
    left: -2vh
  }
  50%{
    left: 0vh;
  }
  75%{
    left: 2vh;
  }
  100%{
    left: 0vh;
  }
}

@media only screen and (max-width: 800px){
  .keyboard-container{
    width: 90vw;
  }
  .row > button{
    font-size: 9px;
    height: 6vh;
  }
}

